body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

canvas {
    border: 1px solid #fff;
}

.score-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.score_title {
    color: white;
    font-weight: bolder;
}

.score {
    color: rgb(153, 224, 46);
    font-weight: bolder;
    margin: 20px
}

#horrorImage {
    display: none;
    position: absolute;
}

#horrorImage img {
    max-width: 100%;
    max-height: 100%;
}

#dpad {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#middle {
    display: flex;
    gap: 10px;
    align-items: center;
}

.dpad-button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.dpad-button:active {
    background-color: #666;
}

#center {
    visibility: hidden;
    width: 60px;
    height: 60px;
}

.hidden_dpad {
    display: none !important;
}